* {
    margin: 0rem;
    padding: 0rem;
}

html {
    background-color: #504747;
    color: goldenrod;
    font-size: 62.5%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 4.5rem;
    text-transform: uppercase;
}

section {
    padding: 4.5rem;
    max-width: 120rem;
    margin: auto;
    background-color: antiquewhite;
}

footer {
    padding: 4.5rem;
    max-width: 120rem;
    margin: auto;
    background-color: rgb(96, 94, 91);
}

.itens-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .box-dashboard {
    box-shadow: 2rem 4rem 2rem 2rem #d61010;
} */
